body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.caja-registradora {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
}

.caja-registradora h1 {
    text-align: center;
}

.acciones {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.acciones button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#visor {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}